tab-bar{
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 49px;
    border-top: 1px solid gray;
    ul {
        height: 100%;
        display: flex;
        justify-content: center;
        padding: 0;
        li {
            list-style: none;
            flex: 1 1 30px;
            text-align: center;
            position: relative;
        }
        a {
            height: 100%;
            width: 100%;
            position: absolute;
            display: block;
            padding: 5px;

            svg {
                height: 24px;
                width: 24px;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        }
        .route-title{
            font-size: smaller;
        }
    }
}